body {
    font-size: 24px;
    font-family: arial;
    color: #282612;
    background-color: #fffbf0;
    margin: 0;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: left;
    padding-top: 5px;
    width: 100%;
    height: 50px;
    font-size: 12px;
    background-color: #000000;
}

.textdesc {
    margin-left: 10px;
    margin-right: 10px;
}

#logo {
    height: 225px;
    width: 400px;

}

.main {
    margin: 0 2em;
}

.travelimg {
    width: 100%;
    border: 4px solid rgba(0, 0, 0, 0.8);
}

.textcontainer{
    height: 50%;
    text-align: left;
    transition: 300ms;
}

.gridcontainer {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    padding-bottom: 60px;
    padding-top: 40px;
    grid-gap: 1%;
    grid-template-columns: 1fr;
    align-content: space-around;
    justify-content: space-between;
    transition: 300ms;
}

.griditem {
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;

    transition: 300ms;
}

.gridcontainer .griditem:hover:not(.active) {
    background-color: black;
    color:white;
 }

.header {
    text-align: left;
    background-color: #add8e6;
    color: #2d2d2d;
    font-size: 24px;
}

.headerseparator {
    background-color: #d3d3d3;
    padding: 10px;
}

.navbox {
    background-color: black;  
    text-align: center;
}

.navbox ul{
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbox li {
    float: left;
}

.navbox li a{
    display: block;
    color: #fffbf0;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
    font-size:20px;
    transition: 300ms;
}

.navbox li a:hover:not(.active) {
   color: #ffa500;
   margin-top: -10px;
}

.description {
    text-align:left;
}

.price{
    color:#767676;
}

.yousave{
    color:#32a15e;
}

@media screen and (min-width:767px) and (max-width: 1280px) {
    body {
        font-size: 20px;
    }
    footer {
        font-size: 13px;
    }
    .textdesc{
        width: 50%;
    }
    .navbox{
        background-color: transparent;
    }
    .navbox li {
        float: left;
    }
    .navbox li a{
        color: black;
    }
    .gridcontainer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-top: 0px;
    }
    .main {
        margin: 0 2em;
    }
}

@media screen and (min-width:1280px) {
    body {
        font-size: 20px;
    }
    footer {
        font-size: 13px;
    }
    .textdesc{
        width: 50%;
    }
    .navbox{
        background-color: transparent;
    }
    .navbox li {
        float: left;
    }
    .navbox li a{
        color: black;
    }
    .gridcontainer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-top: 0px;
    }
}